<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1030569269640-cuj6tnd6a69l5te8hn8s9ecnpdbcpqiu</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1030569269640-cuj6tnd6a69l5te8hn8s9ecnpdbcpqiu.apps.googleusercontent.com</string>
</dict>
</plist>
